.hamburger {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    // position: fixed;
    min-height: 75px;
    background-color: $dark-color;
    color: $white-color;
    width: 100%;
    z-index: 1;
    @include media('>tablet') {
        display: none;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background-color: $dark-color;
        

        &__link {
            // padding: 0 0.3rem;
            padding: 3rem;
            color: inherit;
            display: block;
            font-size: 2em;
            text-decoration: none;

        }
    }

    &__button {
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }
} 

.hamburger__button__bar, 
.hamburger__button__bar::before,
.hamburger__button__bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #fff;
    // color: #fff;
}

.hamburger__button__bar::before,
.hamburger__button__bar::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger__button__bar::before {
    transform: translateY(-12px);
    
}

.hamburger__button__bar::after {
    transform: translateY(12px);
}

