.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;

  &__maintitle {

      &__title {
          margin-top: 0.5em;
          font-size: 3em;
          color: $gold-color;
          font-weight: bold;
  
          &__description {
              color: $grey-color;
              font-size: 1.5em;
              margin: 0.5em 0;
              font-style: italic; 
              display: flex;
              max-width: 100%;
              margin-bottom: 2em;
              @include media('>tablet') {
                  max-width: 25%;
              }
  
              &::after {
                  content: "";
                  flex: 1 1;
                  border-bottom: 2px solid $grey-color;
                  margin: auto;
                  margin-left: 1em;
              }
          }
      }
  
      
  }

  &__section {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      @include media('>tablet') {
          flex-direction: row;
          justify-content: space-between;
          
      }

      &__article {
          @include media('>tablet') {
              width: 100%;
          }
          
  
          &__text {
              color: $white-color;
              font-size: 1.5em;
              line-height: 1.5em;
              margin-bottom: 1.5em; 
              @include media('>tablet') {
                  line-height: 2em;
              }
              
          }
          
      }
  
      &__img {
          width: 100%;
          margin-bottom: 2em;
          display: flex;
          justify-content: center;
          opacity: 0.9;
          
  
          &__picture {
              width: 100%;
              border-radius: 20px;
              @include media('>tablet') {
                  width: 80%;
              }
          }
      }
  }


  
}