.footer {
  //   width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  color: $grey-color;
  font-size: 1.3em;
  margin: 0 auto;
  width: 80%;
  padding: 0.5em 0;

  &__follow {
    display: flex;
    flex-direction: row;

    &__text {
      margin: 0 0.5em;
      align-self: center;
    }

    &__logos {
      font-size: 2em;
      display: flex;
      flex-direction: row;

      &__logo {
        text-decoration: none;
        color: $gold-color;
        margin: 0 0.1em;
      }
    }
  }

  &__folio {
    display: flex;
    &__text {
      margin: 0 0.5em;
      align-self: center;
      @include media("<=phone") {
        margin: 0 0.7em;
      }
    }
  }
}
